.header {
  display: grid;
  justify-content: center;
  align-items: center;

  @media (max-width: 320px) {
    display: unset;
  }

  .title {
    color: black;
    text-transform: uppercase;
    text-align: center;
  }

  .sorting {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;

    @media (max-width: 410px) {
      width: 350px;
    }

    @media (max-width: 320px) {
      width: 300px;
      justify-content: space-around;
    }

  }
  .search {
    display: flex;
    position: relative;
    justify-content: center;

    .input {
      height: 24px;
      width: 380px;
      border: darkgrey 1px solid;
      border-radius: 5px;
      padding: 0 10px;
      
      @media (max-width: 410px) {
        width: 250px;
      }
    }

    .searchImg {
      height: 16px;
      width: 16px;
      margin-left: 10px;
      opacity: 0.4;
      position: absolute;
      right: 5px;
      top: 5px;
      padding-left: 5px;

      @media (max-width: 410px) {
        right: 45px;
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .closeIcon {
      fill: none;
      stroke: #000;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
      width: 18px;
      height: 18px;
      opacity: 0.3;
      position: absolute;
      right: 30px;
      top: 4px;

      @media (max-width: 410px) {
        right: 65px;
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

  }

  .loaderContainer {
    display: flex;
    justify-content: center;
    .loader {
      height: 60px;
      text-align: center;
    }
  }


}
