.header {
  display: grid;
  justify-content: center;
  align-items: center;

  .sorting {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
  }
  .search {
    display: flex;
    position: relative;

    .input {
      height: 24px;
      width: 380px;
      border: darkgrey 1px solid;
      border-radius: 5px;
      padding: 0 10px;
    }

    .searchImg {
      height: 16px;
      width: 16px;
      margin-left: 10px;
      opacity: 0.4;
      position: absolute;
      right: 5px;
      top: 5px;
      padding-left: 5px;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .closeIcon {
      fill: none;
      stroke: #000;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
      width: 18px;
      height: 18px;
      opacity: 0.3;
      position: absolute;
      right: 30px;
      top: 4px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

  }

}
